section {
    background-image: url(up/1.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover
}

ul {
    list-style-type: none;
    display: flex;
    color: white;
    direction: rtl;
}

li {
    padding: 15px;
}

#one {
    text-align: center;
    padding-top: 150px;
    color: white;
    line-height: 30px;
}

button {
    margin-top: 50px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: rgb(236, 132, 132)
}

button:hover {
    background-color: white;
    color: rgb(216, 100, 32);
    font-size: 20px;
}

#info {
    background-color: rgb(13, 18, 19);
}

#two {
    width: 50px;
    height: 70px;
    border-radius: 20px;
    margin: 50px auto;
    border: 1px solid;
    position: relative;
}

#animation {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    opacity: 0%;
    /* margin: auto; */
    animation-name: animat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: absolute;
}

@keyframes animat {
    0% {
        top: 0%;
        left: 45%;
        opacity: 0%;
    }
    10% {
        top: 10%;
        left: 45%;
        opacity: 20%;
    }
    20% {
        top: 20%;
        left: 45%;
        opacity: 40%;
    }
    30% {
        top: 30%;
        left: 45%;
        opacity: 60%;
    }
    40% {
        left: 45%;
        top: 40%;
        opacity: 80%;
    }
    50% {
        left: 45%;
        top: 50%;
    }
    60% {
        top: 60%;
        left: 45%
    }
    70% {
        left: 45%;
        top: 70%;
    }
    80% {
        left: 45%;
        top: 80%;
    }
}